.Notify {
  position: fixed;
  width: 96%;
  top: 0;
  z-index: 100;
  left: 2%;
}

.ItemList {
  width: 500px;
  position: absolute;
  left: 50%;
  max-width: 100%;
}
.listWrap{
  margin-left: -50%;
  margin-right: 50%;

}
.Item {
  background: #337ab7;
  box-sizing: border-box;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #2e6da4;
  font-size: 14px;
  position: relative;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  &.success {
    background: #5cb85c;
    border: 1px solid #4cae4c;
  }

  &.info {
    background: #5bc0de;
    border: 1px solid #46b8da;
  }

  &.warning {
    background: #f0ad4e;
    border: 1px solid #eea236;
  }

  &.danger {
    background: #d9534f;
    border: 1px solid #d43f3a;
  }

  span {
    font-family: arial!important;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    right: 7px;
    font-size: 20px;
    top: 11px;
    cursor: pointer;
  }

  p {
    min-height: 14px;
    line-height: 1.5;
    padding-right: 20px;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
