$maxWidth: 1000px;

.header {
  background: #ffffff;
  padding: 0 20px;
  box-shadow: 0 0 1px #777;

  ul {
    overflow: hidden;
    max-width: $maxWidth;
    margin: 0 auto;

    h1 {
      float: left;
      height: 44px;
      line-height: 44px;
      font-size: 20px;
      margin-right: 50px;
      color: #66757f;
    }

    li {
      float: left;
      display: block;
      margin: 0 25px;

      a {
        display: block;
        height: 42px;
        line-height: 44px;
        padding: 0 5px;
        color: #66757f;
        border-bottom: 2px solid #ffffff;
      }
    }
  }
}

:global(a._menuActive) {
  color: #2196f3!important;
  border-bottom: 2px solid #2196f3!important;
}
