#header {
  background: #333;
  padding: 0 20px;

  ul {
    overflow: hidden;

    li {
      float: left;
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0px 20px;
    }
  }
}
