#Counter {
	color: #888;

	span {
		display: inline-block;
		min-width: 24px;
		color: #666;
		font-weight: bold;
		margin-left: 5px;
		font-size: 24px;
	}

	p {
		margin: 15px 0 20px 40px;
	}

	button {
		display: inline-block;
		min-width: 40px;
		border: 1px solid #ccc;
		border-radius: 2px;
		background: #f5f5f5;
		color: #666;
		margin-left: 5px;
		cursor: pointer;
		outline: none;
		height: 30px;
	}

	input {
		margin-left: 10px;
	}
}
